html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
}

/* General reset */
form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

img {
  border-style: none;
}

input, select, textarea {
  vertical-align: middle;
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #034b8f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

q {
  quotes: none;
}

q:before {
  content: '';
}

q:after {
  content: '';
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

article, aside, audio, canvas, datalist, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@font-face {
  font-family: 'GoodPro-Book';
  src: url("../fonts/GoodPro-Book.eot");
  src: url("../fonts/GoodPro-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/GoodPro-Book.woff2") format("woff2"), url("../fonts/GoodPro-Book.woff") format("woff"), url("../fonts/GoodPro-Book.ttf") format("truetype"), url("../fonts/GoodPro-Book.svg#GoodPro-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoodPro';
  src: url("../fonts/GoodPro-Medium.eot");
  src: url("../fonts/GoodPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GoodPro-Medium.woff2") format("woff2"), url("../fonts/GoodPro-Medium.woff") format("woff"), url("../fonts/GoodPro-Medium.ttf") format("truetype"), url("../fonts/GoodPro-Medium.svg#GoodPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GoodPro';
  src: url("../fonts/GoodPro-Black.eot");
  src: url("../fonts/GoodPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GoodPro-Black.woff2") format("woff2"), url("../fonts/GoodPro-Black.woff") format("woff"), url("../fonts/GoodPro-Black.ttf") format("truetype"), url("../fonts/GoodPro-Black.svg#GoodPro-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GoodPro';
  src: url("../fonts/GoodPro-LightItalic.eot");
  src: url("../fonts/GoodPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GoodPro-LightItalic.woff2") format("woff2"), url("../fonts/GoodPro-LightItalic.woff") format("woff"), url("../fonts/GoodPro-LightItalic.ttf") format("truetype"), url("../fonts/GoodPro-LightItalic.svg#GoodPro-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

.container {
  width: 100%;
  max-width: 1020px;
  padding: 0 15px;
  margin: 0 auto;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.h-100 {
  height: 100%;
}

.ml-auto {
  margin-left: auto !important;
}

.red {
  color: #c7272b !important;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -15px;
}

.col-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.col {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  max-width: 100%;
  padding: 0 15px;
}

.cols_row {
  margin: 0 -10px;
}

.cols_row .col {
  padding: 0 10px;
}

.row_form {
  margin: 0 -5px;
}

.row_form .col {
  padding: 0 5px;
}

@media screen and (max-width: 900px) {
  .row_form {
    max-width: 700px;
    margin: 0 auto;
  }
  .row_form .col {
    -webkit-box-flex: 0 !important;
    -webkit-flex: 0 0 100% !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-bottom: 15px;
    min-width: auto !important;
  }
}

.img-fluid {
  max-width: 100%;
  display: block;
  height: auto;
}

.form_input {
  display: block;
  width: 100%;
  border: 1px solid #fff;
  margin: 0;
  padding: 4px 20px;
  height: 50px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: #222;
  outline: none;
}

.form_input.has_error {
  border: 1px dashed #eb313f;
}

.form_input::-webkit-input-placeholder {
  color: #222;
  opacity: 1;
}

.form_input::-moz-placeholder {
  color: #222;
  opacity: 1;
}

.form_input:-ms-input-placeholder {
  color: #222;
  opacity: 1;
}

.form_input:-moz-placeholder {
  color: #222;
  opacity: 1;
}

.btn {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 25px;
  line-height: 27px;
  color: #fff;
  background: #ec3141;
  height: 50px;
  border: 0;
  width: 100%;
  font-weight: 900;
  outline: none;
}

.btn:hover {
  background: #ff3646;
}

.btn:active {
  background: #ec3141;
  -webkit-box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.15);
}

.help_text {
  font-size: 10px;
  line-height: 10px;
  color: #ec3141;
  display: block;
  font-weight: 500;
  padding-top: 4px;
}

@media screen and (max-width: 900px) {
  .help_text {
    font-size: 13px;
    line-height: 14px;
  }
}

.reverse_img {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.col_fix {
  min-width: 290px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 290px;
      -ms-flex: 0 0 290px;
          flex: 0 0 290px;
}

.bg_white {
  background: #fff;
}

.col-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.333333%;
      -ms-flex: 0 0 58.333333%;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
  padding: 0 15px;
}

.col-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333%;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  max-width: 33.333%;
  padding: 0 15px;
}

.mt15 {
  margin-top: 15px;
}

.white_holder, .orange_holder, .blue_holder {
  background: #fff;
  position: relative;
}

.white_holder:after, .orange_holder:after, .blue_holder:after {
  content: '';
  background: inherit;
  width: 9999px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.orange_holder {
  background: #f8c843;
}

.blue_holder {
  background: #0fcec7;
}

.col-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
      -ms-flex: 0 0 41.666667%;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
  padding: 0 15px;
}

.col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}

.learn_row {
  margin: 0 -10px;
}

.learn_row .col-3 {
  padding: 0 10px;
}

.mt10 {
  margin-top: 10px;
}

[type="radio"]:checked, [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  display: inline-block;
  color: #1c1c1a;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  padding-right: 3px;
}

@media screen and (max-width: 900px) {
  [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    padding-left: 30px;
  }
}

[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px 0px rgba(106, 106, 106, 0.3);
  box-shadow: 0 5px 10px 0px rgba(106, 106, 106, 0.3);
}

[type="radio"]:checked + label:before {
  -webkit-box-shadow: 0 5px 10px 0px rgba(210, 40, 40, 0.3);
  box-shadow: 0 5px 10px 0px rgba(210, 40, 40, 0.3);
}

[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 16px;
  height: 16px;
  background: #d22828;
  position: absolute;
  top: 8px;
  left: 4px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.header {
  background: #222;
  padding: 8px 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header ul li {
  padding-right: 50px;
}

.header ul li:last-child {
  padding-right: 0;
}

.header ul a {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.header strong {
  font-weight: normal;
}

.header strong a {
  color: #f8c843;
  font-weight: 900;
}

.mob_toogle, .close_btn {
  height: 30px;
  width: 30px;
  display: none;
}

body.overflow {
  overflow: hidden !important;
}

@media screen and (max-width: 900px) {
  .nav_bar {
    display: none;
  }
  .nav_bar.opened {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    text-align: center;
    background: rgba(248, 200, 67, 0.98);
  }
  .nav_bar.opened ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav_bar.opened ul li {
    padding: 0;
  }
  .nav_bar.opened ul li a {
    font-size: 20px;
    line-height: 22px;
    padding: 10px;
    display: block;
    color: #222;
  }
  .nav_bar.opened ul li a:hover {
    text-decoration: none;
    background: #fff;
    color: #f8c843;
  }
  .nav_bar.opened .close_btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    right: 15px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: block;
  }
  .nav_bar.opened .close_btn:before, .nav_bar.opened .close_btn:after {
    content: '';
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    height: 4px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
        -ms-transform: rotate(-45deg) translate(-50%, -50%);
            transform: rotate(-45deg) translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  .nav_bar.opened .close_btn:after {
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
        -ms-transform: rotate(45deg) translate(-50%, -50%);
            transform: rotate(45deg) translate(-50%, -50%);
  }
  .mob_toogle, .close_btn {
    display: block;
    cursor: pointer;
  }
  .mob_toogle span, .close_btn span {
    background: #fff;
    width: 100%;
    display: block;
    height: 4px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    margin-top: 4px;
  }
  .mob_toogle span + span, .close_btn span + span {
    margin-top: 5px;
  }
}

body {
  font: 20px/24px  'GoodPro', sans-serif;
  background: #f1f1f1;
  color: #000;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.article > .container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 55px;
}

.article > .container:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  background: -webkit-linear-gradient(45deg, transparent 50%, #f8c843 0) bottom left;
  background: -o-linear-gradient(45deg, transparent 50%, #f8c843 0) bottom left;
  background: linear-gradient(45deg, transparent 50%, #f8c843 0) bottom left;
  z-index: -1;
}

@media screen and (max-width: 980px) {
  .article > .container:before {
    width: 100%;
  }
}

.article > .container:after {
  content: '';
  width: 9999px;
  top: 0;
  left: 100%;
  height: 100%;
  position: absolute;
  background: #f8c843;
}

.article img {
  position: relative;
  right: -30px;
  z-index: 2;
}

.article p {
  margin: 0;
  color: #212121;
  font-size: 21px;
  line-height: 23px;
  font-weight: 900;
}

@media screen and (max-width: 550px) {
  .article p {
    font-size: 16px;
    line-height: 18px;
  }
}

.article h1 {
  margin: 30px 0 0 0;
  color: #212121;
  font-size: 90px;
  line-height: 90px;
  font-weight: 900;
}

.article h1 span {
  display: block;
  font-size: 65px;
  line-height: 65px;
  position: relative;
  top: -20px;
}

.article h2 {
  background: #222;
  text-align: center;
  font-size: 35px;
  line-height: 37px;
  color: #f8c843;
  margin: 0;
  display: block;
  width: 100%;
  font-weight: 900;
  padding: 8px 0;
}

@media screen and (max-width: 900px) {
  .article > .container {
    padding: 30px 15px;
  }
  .article h1 {
    font-size: 60px;
    line-height: 61px;
    margin-top: 15px;
  }
  .article h1 span {
    font-size: 45px;
    line-height: 47px;
    top: 0;
  }
}

@media screen and (max-width: 900px) and (max-width: 750px) {
  .article h1 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 900px) and (max-width: 550px) {
  .article h1 {
    font-size: 30px;
    line-height: 33px;
  }
  .article h1 span {
    font-size: 25px;
    line-height: 27px;
  }
}

@media screen and (max-width: 900px) {
  .article h2 {
    font-size: 30px;
    line-height: 32px;
    padding: 5px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 900px) and (max-width: 550px) {
  .article h2 {
    margin: 40px auto 0;
    max-width: 80%;
  }
}

.cols_row {
  margin-top: 10px;
}

.cols_row .col {
  border-left: 2px solid #222;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cols_row .col span {
  color: #ec3141;
}

.cols_row .col:first-child {
  border: 0;
}

@media screen and (max-width: 750px) {
  .cols_row .col {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    position: relative;
    border: 0;
  }
  .cols_row .col:before {
    content: '';
    width: 2px;
    height: 40px;
    background: #222;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .cols_row .col:first-child:before {
    content: none;
  }
}

.section {
  width: 100%;
  overflow: hidden;
  padding-bottom: 65px;
  padding-top: 40px;
}

.section .col_graph {
  position: relative;
  z-index: 2;
}

.section .col_graph:before {
  content: '';
  position: absolute;
  top: 45px;
  left: -70px;
  width: 105px;
  height: 69px;
  background: url(../images/corners.png) no-repeat;
  z-index: -1;
}

.section h2 {
  margin: 0;
  font-size: 70px;
  line-height: 72px;
  color: #ec3141;
  font-weight: 900;
  padding-bottom: 30px;
}

.section h2 span {
  display: block;
  font-size: 66px;
  line-height: 66px;
  color: #0fcec7;
}

.section p {
  margin: 10px 0 0 0;
  color: #222;
  font-weight: 500;
}

.section .txt {
  padding-left: 60px;
}

@media screen and (max-width: 900px) {
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section h2 {
    font-size: 50px;
    line-height: 52px;
  }
  .section h2 span {
    font-size: 45px;
    line-height: 47px;
    display: inline;
  }
  .section .txt {
    padding: 0;
  }
}

@media screen and (max-width: 750px) {
  .section h2 {
    font-size: 30px;
    line-height: 32px;
  }
  .section h2 span {
    font-size: 28px;
    line-height: 30px;
  }
  .section .col-7, .section .col-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .section .col-5 {
    padding-top: 10px;
  }
}

.learn_row img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 100px;
}

.learn_row .col-3 {
  padding-bottom: 10px;
}

.learn_row span {
  text-align: center;
  margin-top: 12px;
  font-size: 30px;
  line-height: 50px;
  background: #222;
  font-weight: 900;
  color: #fff;
  display: block;
}

.learn_row p {
  margin: 13px 0 0 0;
  color: #222;
  font-weight: 500;
}

.learn_block {
  padding-top: 45px;
}

@media screen and (max-width: 550px) {
  .learn_block {
    padding-top: 30px;
  }
}

.learn_block h2 {
  margin: 0;
  font-size: 50px;
  line-height: 52px;
  color: #222;
  font-weight: 900;
  padding-bottom: 25px;
}

@media screen and (max-width: 550px) {
  .learn_block h2 {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .learn_block .learn_row span {
    font-size: 25px;
    line-height: 40px;
  }
}

@media screen and (max-width: 750px) {
  .learn_block .learn_row .col-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 750px) and (max-width: 550px) {
  .learn_block .learn_row .col-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.programm_block {
  padding-top: 90px;
}

.programm_block h2 {
  margin: 0;
  font-size: 50px;
  line-height: 52px;
  color: #222;
  font-weight: 900;
  padding-bottom: 25px;
}

@media screen and (max-width: 550px) {
  .programm_block h2 {
    font-size: 30px;
    line-height: 32px;
  }
}

@media screen and (max-width: 750px) {
  .programm_block {
    padding-top: 10px;
  }
}

.bg_shadow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 47px;
  padding-bottom: 30px;
  position: relative;
}

.bg_shadow:before {
  content: '';
  width: 9999px;
  height: 36px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.1)), color-stop(31%, rgba(34, 34, 34, 0.09)), color-stop(77%, rgba(34, 34, 34, 0.02)), to(rgba(34, 34, 34, 0)));
  background: -webkit-linear-gradient(rgba(34, 34, 34, 0.1) 0%, rgba(34, 34, 34, 0.09) 31%, rgba(34, 34, 34, 0.02) 77%, rgba(34, 34, 34, 0) 100%);
  background: -o-linear-gradient(rgba(34, 34, 34, 0.1) 0%, rgba(34, 34, 34, 0.09) 31%, rgba(34, 34, 34, 0.02) 77%, rgba(34, 34, 34, 0) 100%);
  background: linear-gradient(rgba(34, 34, 34, 0.1) 0%, rgba(34, 34, 34, 0.09) 31%, rgba(34, 34, 34, 0.02) 77%, rgba(34, 34, 34, 0) 100%);
}

.step {
  counter-increment: step-counter;
  position: relative;
}

.step .col_fix_txt:before {
  content: counter(step-counter);
  font-size: 300px;
  line-height: 300px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 255px;
  padding-top: 30px;
}

.step:first-child .bg_shadow {
  min-height: 250px;
}

.step:first-child .bg_shadow:before {
  content: none;
}

.step:first-child .col_fix_txt:before {
  color: rgba(15, 206, 199, 0.3);
}

.step:nth-child(2) .col_fix_txt:before {
  color: rgba(255, 255, 255, 0.3);
}

.step:nth-child(3) .col_fix_txt:before {
  color: rgba(15, 206, 199, 0.3);
}

.step:nth-child(4) .col_fix_txt:before {
  color: rgba(255, 255, 255, 0.3);
}

.step .col_fix_txt {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 330px;
      -ms-flex: 0 0 330px;
          flex: 0 0 330px;
  max-width: 330px;
  padding: 0 20px;
}

.step .col_fix_txt p {
  margin: 30px 0 0 0;
  color: #222;
}

.step .etc_text {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
  padding-right: 60px;
}

.step h3 {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  color: #222;
}

.step ul {
  margin: 0;
  padding: 5px 0 0 0;
  list-style: none;
}

.step ul li {
  color: #222;
  padding-bottom: 10px;
  font-weight: 500;
}

.step h3, .step ul, .step p, .step h4 {
  position: relative;
  z-index: 2;
}

.step h4 {
  margin: 23px 0 0 0;
  color: #222;
  font-weight: 900;
}

@media screen and (max-width: 750px) {
  .step .col_fix_txt {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 0 0 20px 0;
  }
  .step .col_fix_txt h3 br {
    display: none;
  }
  .step .etc_text {
    padding-right: 0;
  }
}

@media screen and (max-width: 550px) {
  .step h3 {
    font-size: 20px;
  }
  .step .col_fix_txt:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 0;
  }
}

.row_img {
  margin: 0 -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 20px;
}

.row_img .img, .row_img .txt {
  padding: 0 10px;
}

.row_img .img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 110px;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px;
  max-width: 110px;
}

.row_img .img img {
  max-width: 100%;
  display: block;
  height: auto;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.row_img .txt {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
  color: #222;
}

.list_steps {
  margin-bottom: 50px;
}

@media screen and (max-width: 550px) {
  .list_steps {
    margin-bottom: 20px;
  }
}

.dots {
  display: block;
  width: 266px;
  height: 266px;
  position: absolute;
  bottom: -133px;
  right: -123px;
  z-index: 10;
  background: url(../images/dots.png) no-repeat;
}

.top_part {
  background: rgba(25, 25, 25, 0.95);
}

.about_block h2 {
  margin: 0;
  font-size: 50px;
  line-height: 52px;
  color: #f8c843;
  font-weight: 900;
  padding-bottom: 57px;
}

.about_block h3 {
  margin: 0;
  font-size: 30px;
  line-height: 32px;
  font-weight: 900;
  color: #fff;
  padding-bottom: 10px;
}

.about_block p {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  padding-bottom: 10px;
}

@media screen and (max-width: 750px) {
  .about_block .col-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .about_block .col-6 + .col-6 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .about_block .col-6 h2 {
    padding: 20px 0;
    text-align: center;
  }
  .about_block .col-6 img {
    margin: 0 auto;
  }
  .about_block .p_txt {
    padding: 0 !important;
  }
  .about_block .bottom_part {
    padding-top: 20px;
  }
  .about_block .bottom_part .col-6 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .about_block .bottom_part .col-6 + .col-6 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.bottom_part {
  background: #191919;
  position: relative;
}

.bottom_part > .container {
  position: relative;
}

.bottom_part .dots {
  height: 133px;
  bottom: 0;
  right: auto;
  position: absolute;
  left: -webkit-calc(50% + 15px);
  left: calc(50% + 15px);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tickets_block {
  background: #f8c843;
  width: 100%;
  overflow: hidden;
}

.tickets_block > .container {
  position: relative;
  padding-top: 54px;
  padding-bottom: 50px;
}

@media screen and (max-width: 550px) {
  .tickets_block > .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.tickets_block > .container:after {
  content: '';
  width: 69px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 15px;
  background: url(../images/corners_3.png);
}

.tickets_block h2 {
  margin: 0;
  font-size: 60px;
  line-height: 62px;
  font-weight: 900;
  color: #191919;
}

@media screen and (max-width: 550px) {
  .tickets_block h2 {
    font-size: 40px;
    line-height: 42px;
  }
}

.tickets_block h3 {
  text-align: center;
  font-size: 30px;
  line-height: 32px;
  color: #fff;
  font-weight: 900;
  margin: 40px 0 0 0;
  padding-bottom: 15px;
}

.tickets_block p {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  font-weight: 500;
  margin: 0;
  padding: 0 14px 30px;
}

.tickets_block p span {
  color: #0fcec7;
}

.tickets_block em {
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  padding: 0 14px 15px;
}

.row_tickets {
  margin: 0 -3px;
  padding-top: 22px;
}

.row_tickets .col-3 {
  padding: 0 3px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  position: relative;
}

.row_tickets .col-3 .column {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
  padding: 0 30px 30px;
  z-index: 10;
  -webkit-background-size: 100% 100% !important;
          background-size: 100% 100% !important;
}

.row_tickets .col-3 a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 900;
  font-size: 25px;
  line-height: 27px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.row_tickets .col-3 a:hover {
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .row_tickets {
    max-width: 700px;
    margin: 0 auto;
  }
  .row_tickets .col-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 60px;
    min-height: 400px;
  }
}

@media screen and (max-width: 900px) and (max-width: 550px) {
  .row_tickets {
    max-width: 300px;
  }
  .row_tickets .col-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    min-height: 300px;
  }
  .row_tickets .col-3:last-child {
    margin-bottom: 0;
  }
}

.balance_txt {
  width: 100%;
  position: absolute;
  top: -45px;
  left: 0;
  padding-left: 13px;
  z-index: 1;
}

.balance_txt i {
  color: #191919;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  position: absolute;
  top: 20px;
  left: 7px;
}

.balance_txt strong {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #191919;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  font-size: 25px;
  line-height: 69px;
  width: 69px;
  height: 69px;
  color: #fff;
}

.balance_txt.none strong {
  background: #ec3141;
}

.balance_txt.text_visible_tablet i {
  opacity: 0;
}

@media screen and (max-width: 900px) {
  .balance_txt.text_visible_tablet i {
    opacity: 1;
  }
}

.on_line .column {
  background: url(../images/online.png) no-repeat;
}

.on_line .column p, .on_line .column em, .on_line .column h3 {
  color: #191919;
}

.on_line .column p {
  padding-bottom: 12px;
}

.silver .column {
  background: url(../images/silver.png) no-repeat;
}

.gold .column {
  background: url(../images/gold.png) no-repeat;
}

.platinum .column {
  background: url(../images/platinum.png) no-repeat;
}

.registration_block {
  padding-top: 44px;
  padding-bottom: 50px;
}

@media screen and (max-width: 750px) {
  .registration_block {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 750px) {
  .registration_block > .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.registration_block h2 {
  margin: 0;
  color: #212121;
  font-size: 60px;
  line-height: 62px;
  font-weight: 900;
  padding-left: 20px;
}

@media screen and (max-width: 750px) {
  .registration_block h2 {
    font-size: 40px;
    line-height: 42px;
  }
}

.form_reg_content {
  background: #0fcec7;
  padding: 0 20px 35px;
  margin-top: 12px;
  -webkit-box-shadow: 0 40px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 40px 50px 0px rgba(0, 0, 0, 0.1);
}

.form_reg_content h4 {
  margin: 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  color: #1c1c1a;
  padding-bottom: 5px;
}

.form_title {
  padding-top: 20px;
  padding-bottom: 6px;
}

.form_title ul {
  margin: 0 -5px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.form_title ul li {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  padding: 0 5px;
}

@media screen and (max-width: 900px) {
  .form_title ul li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 900px) and (max-width: 750px) {
  .form_title ul li a {
    padding: 5px !important;
  }
  .form_title ul li a span {
    padding: 5px 0 !important;
  }
  .form_title ul li a i {
    font-size: 15px;
    line-height: 16px;
  }
}

.form_title ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  height: 100%;
  text-align: center;
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.form_title ul li a:hover {
  text-decoration: none;
}

.form_title ul li a i, .form_title ul li a strong {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  font-style: normal;
  font-weight: 900;
}

.form_title ul li a span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background: #212121;
  color: #fff;
  padding: 2px 5px;
}

.form_title ul li a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form_title ul li a:active span {
  -webkit-box-shadow: inset 0 20px 15px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 20px 15px rgba(0, 0, 0, 0.2);
  background: #ec3141 !important;
  color: #fff !important;
}

.form_title ul li.active a {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form_title ul li.active a span {
  -webkit-box-shadow: inset 0 20px 15px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 20px 15px rgba(0, 0, 0, 0.2);
  background: #ec3141 !important;
  color: #fff !important;
}

.form_title ul li.online_tab a {
  background: url(../images/online_t.png) repeat;
}

.form_title ul li.online_tab a span {
  background: #fff;
  color: #212121;
  font-size: 18px;
  line-height: 20px;
}

.form_title ul li.silver_tab a {
  background: url(../images/silver_t.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.form_title ul li.gold_tab a {
  background: url(../images/gold_t.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.form_title ul li.platinum_tab a {
  background: url(../images/platinum_t.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.form_content {
  margin: 0 -8px;
}

.form_content .col-4 {
  padding: 22px 8px 0;
}

@media screen and (max-width: 750px) {
  .form_content .col-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 750px) and (max-width: 550px) {
  .form_content .col-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.form_content .col-4 .form_input {
  height: 56px;
}

.form_content .col-4 > label {
  margin: 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  color: #1c1c1a;
  padding-bottom: 5px;
  display: block;
}

.row_radiobuttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9px;
}

.row_radiobuttons .one_radio {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding-right: 6px;
}

.form_total {
  padding: 20px;
  border-bottom: 5px solid #0fcec7;
}

.form_total i {
  font-style: normal;
}

.form_total .help_text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 150px;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  max-width: 150px;
  padding-right: 5px;
  padding-top: 0;
}

.form_total .btn {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
}

@media screen and (max-width: 998px) {
  .form_total .ttl_cst strong {
    font-size: 30px;
    line-height: 32px;
  }
  .form_total .btn {
    font-size: 20px;
    line-height: 22px;
  }
}

@media screen and (max-width: 900px) {
  .form_total .btn_prt .help_text {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 5px;
  }
  .form_total .btn_prt .help_text, .form_total .btn_prt .btn {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .form_total .ttl_cst, .form_total .btn_prt {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .form_total .ttl_cst h4, .form_total .btn_prt h4 {
    padding-bottom: 20px;
  }
  .form_total .ttl_cst i, .form_total .btn_prt i {
    display: none;
  }
  .form_total .ttl_cst strong em:last-of-type, .form_total .btn_prt strong em:last-of-type {
    display: block;
  }
  .form_total .btn_prt {
    margin-top: 20px;
  }
}

.ttl_cst h4 {
  margin: 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  color: #1c1c1a;
}

.ttl_cst strong {
  color: #1c1c1a;
  font-size: 40px;
  line-height: 42px;
  font-weight: 900;
  display: block;
  text-align: center;
  margin-top: -5px;
}

.ttl_cst strong em {
  font-style: normal;
  display: inline-block;
}

.footer {
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: #212121;
}

.footer > .container {
  height: 60px;
}

.footer .copy {
  margin-right: auto;
}

.footer a {
  color: #212121;
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .footer {
    text-align: center;
  }
  .footer .copy, .footer .link {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    font-size: 16px;
    line-height: 18px;
    margin: 0 !important;
  }
  .footer .copy {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.map {
  width: 100%;
  height: 620px;
  position: relative;
}

@media screen and (max-width: 750px) {
  .map {
    height: auto;
  }
}

.map .container {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
}

@media screen and (max-width: 750px) {
  .map .container {
    position: relative;
    z-index: 30;
    height: auto;
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin-top: -200px;
    padding: 0;
  }
}

#map {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 750px) {
  #map {
    height: 400px;
  }
}

.p_txt {
  padding-right: 70px;
}

.info_holder {
  position: absolute;
  top: 40px;
  left: 15px;
  z-index: 11;
}

.info_holder h2 {
  margin: 0;
  font-size: 60px;
  line-height: 62px;
  color: #212121;
  font-weight: 900;
}

.info_holder .info_block {
  max-width: 430px;
  background: #f8c843;
  padding: 45px 40px 50px;
  margin-top: 50px;
  position: relative;
}

.info_holder .info_block:after {
  content: '';
  width: 70px;
  height: 69px;
  bottom: 26px;
  right: -20px;
  position: absolute;
  background: url(../images/corner_2.png);
}

@media screen and (max-width: 350px) {
  .info_holder .info_block:after {
    content: none;
  }
}

.info_holder .info_block h3 {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  color: #212121;
  padding-bottom: 10px;
}

.info_holder .info_block ul {
  margin: 20px 0 30px 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  line-height: 21px;
  color: #212121;
  font-weight: 500;
}

.info_holder .info_block ul li {
  padding-bottom: 3px;
}

.info_holder .info_block p {
  color: #212121;
  font-weight: 900;
  margin: 0;
}

.info_holder .info_block p a {
  color: #212121;
  text-decoration: underline;
}

.info_holder .info_block p a:hover {
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  .info_holder {
    width: 100%;
    left: 0;
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    padding-top: 20px;
  }
  .info_holder h2 {
    font-size: 40px;
    padding: 0 20px;
    line-height: 42px;
  }
  .info_holder h3 {
    font-size: 25px !important;
    line-height: 27px !important;
  }
}

@media screen and (max-width: 750px) and (max-width: 550px) {
  .info_holder h3 {
    font-size: 20px !important;
    line-height: 22px !important;
  }
}

@media screen and (max-width: 750px) {
  .info_holder ul {
    margin: 10px 0 !important;
  }
}

@media screen and (max-width: 750px) and (max-width: 550px) {
  .info_holder p, .info_holder ul {
    font-size: 16px !important;
    line-height: 18px !important;
  }
}

@media screen and (max-width: 750px) {
  .info_holder .info_block {
    margin-top: 10px;
    max-width: none;
    width: 100%;
    padding: 15px;
  }
}

@media screen and (max-width: 900px) {
  .a_top_inf {
    max-width: 700px;
    margin: 0 auto;
  }
  .a_top_inf .a_top_inf_txt {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60%;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }
  .a_top_inf .a_top_inf_photo {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
  .a_top_inf .a_top_inf_photo img {
    max-width: 300px;
  }
}

@media screen and (max-width: 750px) {
  .a_top_inf .a_top_inf_photo img {
    right: -20px;
    position: absolute;
    top: 20px;
    max-width: 250px;
  }
}

@media screen and (max-width: 750px) and (max-width: 550px) {
  .a_top_inf .a_top_inf_photo img {
    max-width: 200px;
  }
}

@media screen and (max-width: 750px) {
  .a_top_inf .a_top_inf_txt {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    z-index: 10;
  }
  .a_top_inf .a_top_inf_txt p {
    padding-right: 200px;
  }
}

@media screen and (max-width: 750px) and (max-width: 550px) {
  .a_top_inf .a_top_inf_txt p {
    padding-right: 150px;
  }
}

@media screen and (max-width: 750px) and (max-width: 550px) {
  .a_top_inf {
    margin-left: -15px;
    margin-right: -15px;
  }
}

/*# sourceMappingURL=all.css.map */
