.container{
	width: 100%;
	max-width: 1020px;
	padding: 0 15px;
	margin: 0 auto;
}
.d-flex{
	display: flex;
	flex-wrap:wrap;
}
.align-items-center{
	align-items:center;
}
.h-100{
	height: 100%;
}
.ml-auto{
	margin-left: auto !important;
}
.red{
	color: #c7272b !important;
}
.row{
	display: flex;
	flex-wrap:wrap;
	margin: 0 -15px;
}
.col-6{
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 15px;
}
.col{
	flex-grow: 1;
	flex-basis: 0;
	max-width: 100%;
	padding: 0 15px;
}
.cols_row{
	margin: 0 -10px;
	.col{
		padding: 0 10px;
	}
}
.row_form{
	margin: 0 -5px;
	.col{
		padding: 0 5px;
	}
	@media screen and (max-width: 900px) {
		max-width:700px;
		margin: 0 auto;
		.col{
			flex: 0 0 100% !important;
			max-width: 100% !important;
			margin-bottom: 15px;
			min-width: auto !important;
		}
	}
}
.img-fluid{
	max-width: 100%;
	display: block;
	height: auto;
}
.form_input{
	display: block;
	width: 100%;
	border: 1px solid #fff;
	margin: 0;
	padding: 4px 20px;
	height: 50px;
	font-size: 20px;
	line-height: 22px;
	font-weight: 500;
	color: #222;
	outline: none;
	&.has_error{
		border: 1px dashed #eb313f;
	}
	&::-webkit-input-placeholder { 
		color: #222;
		opacity: 1;
	}
	&::-moz-placeholder {
	color: #222;
	opacity: 1;
	}
	&:-ms-input-placeholder {
		color: #222;
		opacity: 1;
	}
	&:-moz-placeholder {
		color: #222;
		opacity: 1;
	}
}
.btn{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 25px;
	line-height: 27px;
	color: #fff;
	background: #ec3141;
	height: 50px;
	border: 0;
	width: 100%;
	font-weight: 900;
	outline: none;
	&:hover{
		background: #ff3646;
	}
	&:active{
		background: #ec3141;
		box-shadow:inset 0 2px 15px rgba(0,0,0,.15);
	}
}
.help_text{
	font-size: 10px;
	line-height: 10px;
	color: #ec3141;
	display: block;
	font-weight: 500;
	padding-top: 4px;
	@media screen and (max-width: 900px) {
		font-size: 13px;
		line-height: 14px;
	}
}
.reverse_img{
	 transform: scale(-1, 1);
}
.col_fix{
	min-width: 290px;
	flex: 0 0 290px;
}
.bg_white{
	background: #fff;
}
.col-7{
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
	padding: 0 15px;
}
.col-4{
	flex: 0 0 33.333%;
	max-width: 33.333%;
	padding: 0 15px;
}
.mt15{
	margin-top: 15px;
}
.white_holder,.orange_holder,.blue_holder{
	background: #fff;
	position: relative;
	&:after{
		content: '';
		background: inherit;
		width: 9999px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform:translateX(-50%);
		z-index: -1;
	}
}
.orange_holder{
	background: #f8c843;
}
.blue_holder{
	background: #0fcec7;
}
.col-5{
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
	padding: 0 15px;
}
.col-3{
	flex: 0 0 25%;
	max-width: 25%;
	padding: 0 15px;
}
.learn_row{
	margin: 0 -10px;
	.col-3{
		padding: 0 10px;
	}
}
.mt10{
	margin-top: 10px;
}
[type="radio"]:checked, [type="radio"]:not(:checked) { position: absolute; left: -9999px; }

[type="radio"]:checked + label, [type="radio"]:not(:checked) + label { 
	position: relative; 
	padding-left: 40px; 
	cursor: pointer; 
	display: inline-block; 
	color: #1c1c1a; 
	font-size: 18px; 
	line-height: 18px; 
	font-weight: 500; 
	padding-right: 3px; 
	@media screen and (max-width: 900px){
		padding-left: 30px;
	}
}

[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before { content: ''; position: absolute; left: 0; top: 4px; width: 24px; height: 24px; -webkit-border-radius: 100%; border-radius: 100%; background: #fff; -webkit-box-shadow: 0 5px 10px 0px rgba(106, 106, 106, 0.3); box-shadow: 0 5px 10px 0px rgba(106, 106, 106, 0.3); }

[type="radio"]:checked + label:before { -webkit-box-shadow: 0 5px 10px 0px rgba(210, 40, 40, 0.3); box-shadow: 0 5px 10px 0px rgba(210, 40, 40, 0.3); }

[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after { content: ''; width: 16px; height: 16px; background: #d22828; position: absolute; top: 8px; left: 4px; -webkit-border-radius: 100%; border-radius: 100%; -webkit-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }

[type="radio"]:not(:checked) + label:after { opacity: 0; -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); }

[type="radio"]:checked + label:after { opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
